{% extends "layout.html" %}

{% block title %}
    Oops
{% endblock %}

{% block main %}
<div id="apology-jumbotron" class="jumbotron">
    <form action="/apology" method="post">
       <div id="login" class="container">
            <div class="align-items-center">
                <h1 id="oops" class="text-center">Oops...</h1>
                <img src="../static/undraw_dreamer_gxxi.svg">
                <p id="error-number">{{ top }}</p>
                <p id="error-message">{{ bottom }}</p>
            </div>
        </div>
    </form>
</div>
{% endblock %}