{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1 id="index-heading">Welcome to LowCal Recipes!</h1>

<img id="full-index-img" src="../static/undraw_celebration_0jvk.svg">

<!--<div id="full-index-links" class="card-group">
    <div id="full-firstcard" class="card">
      <a href="/recipes" class="stretched-link"> <img src="../static/undraw_web_search_eetr.svg" class="card-img-top" alt="search"> </a>
      <div class="card-body">
        <h6 class="card-title">Browse Recipes</h5>
      </div>
    </div>
    <div id="full-secondcard" class="card">
        <a href="/addrecipe" class="stretched-link"> <img src="../static/undraw_add_content_d1tf.svg" class="card-img-top" alt="add"> </a>
      <div class="card-body">
        <h6 class="card-title">Add Recipes</h5>
      </div>
    </div>
    <div id="full-thirdcard" class="card">
        <a href="/meals" class="stretched-link"> <img src="../static/undraw_master_plan_95wa.svg" class="card-img-top" alt="plan"> </a>
      <div class="card-body">
        <h6 class="card-title">Plan Meals</h5>
      </div>
    </div>
  </div>-->

  <h2 id="index-heading-your-rec">Your saved recipes </h2>
    <div id="index-recipes-jumbotron" class="jumbotron">
        <div id="recipes-container" class="container">

          <form action="/" method="post" id="index-recipes">
            <div id="recipes-drop-down">
              <select id="select-meal" name="meal" class="form-control form-control-md">
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="snack">Snack</option>
              </select>
            </div>
            <div class="index-button">
              <button class="btn btn-default" id="index-button" type="submit">Recipes</button>
            </div>
          </form>

                {% for row in rows %}
                        <div id="recipes-card" class="card">
                            <div id="recipes-card-body" class="card-body">
                                <h5 id="recipes-card-title" class="card-title">{{ row["name"] }}</h5>
                                    <p id="calories" class="card-text">Total calories per recipe: {{ row['cal_per_rec'] }}kcal</p>
                                    <p id="ingredients" class="card-text">{{ row['ingredients'] }}</p>
                                    <p id="servings" class="card-text">Servings: {{ row['servings'] }}</p>
                                    <p id="recipes-card-text" class="card-text">{{ row["rec_text"] }}</p>
                                    <p id="prep" class="card-text">Prep time:{{ row["prep_time"] }}min</p>
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}